{{ attach_library('moldev/rfq-page') }}
							
<section>
	<div class="product-finder-container quote-container finder-container molecules_bg quotepage-bg-img rfq-bg-auto-ht " currentpage="{{ cur_page }}">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
				  <!-- Tab panes -->
					<div class="tab-content finderpage-class tab-panel-wrap">
						<div role="tabpanel" class="tab-pane select-product fade active" id="step1">
							<div class="">								
								<div class="">
									<div class="category-container-holder">	
										<div class="category-container">
											<div class="">
											<div class="rfq_main rfqThanks">	
												<div class="thankuMsg">
													<div id="thankyou" class="thankyouWrap">
														<h3>Thank you!</h3>
															<p>We have received your request for quote and would like to thank you for contacting us. We have sent you an email to confirm your details.</p>
															<p>A sales rep will be contacting you within 24-business hours. If you require immediate attention, please feel free to <a class="thanks-contact" href="/contact">Contact Us</a></p>

															<h3 class="grt-day-tag">Have a great day!</h3>
													</div>
													<img src="/themes/moldev/images/thank_you.png" class="thankyou_img">
													<p class="bottom-text">Return to Molecular Devices <a href="/" class="home">home page.</a></p>
												</div>
											</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div> 						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

